html {
	background-color: #333;
}

.questionEntry {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 300px;
	left: calc(50% - 150px);
	top: 50px;
}

.questionEntry input {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}

#magic8 {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 100px;
	left: calc(50% - 250px);
	-webkit-transition: background-image 1s;
	transition: background-image 1s;
	background-image: url('../images/8ball/empty.png');
	background-size: contain
}