* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.3em;
}

nav p {
    float: left;
    font-size: 1.3em;
    padding: 0.3em 0 0 0.4em;
}

nav ul {
    float: right
}

nav li {
    display: inline-block;
}

.btn {
    text-decoration: none;
    background-color: #8585ff;
    padding: 0.4em 1.2em;
    border-radius: 0.7em;
    margin: 0.2em 0.4em;
    display: inline-block;
    border: 0.1em solid #2626ff;
    color: #000075;
}

.btn:hover {
    background-color: #2626ff;
}

.top {
    text-align: center;
    background: url('../images/code-113611_1280.jpg') no-repeat center center;
    background-size: cover;
    padding: 4em 0;
}

.top img {
    border-radius: 100%;
    border: 1px solid #4040ef;
}

.top h1, .top h2 {
    color: #fff;
    font-weight: 600;
}

#body {
    margin-bottom: 2em;
}

#body p {
    margin-top: 0.8em;
    font-size: 1.1em;
}

#body a {
    color: #000075;
}

#reading {
    text-align: center;
    background-color: #eef;
}

#reading article {
    border: 0.1em solid #b1b1ff;
    margin: 0.4em 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}

#to-top a {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}