* {
    box-sizing: border-box;
}

html {
    background: url('../images/code-113611_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #485cec;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #183152;
    margin-bottom: 1em;
    line-height: 1.25em;
}

nav {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.button-menu {
    position: relative;
}

.button {
    border-radius: 100%;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abc8e2;
    color: #183152;
    box-shadow: 1px 2px 3px 1px black;
}

.button:hover {
    text-decoration: none;
}

.button:focus {
    background-color: #375d81;
}

.button-menu ul {
    position: absolute;
}

.button-menu li {
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms linear, transform 1s, visibility 0s linear 1s;
}

.button:focus + ul > li {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, -300ms, 0s;
}

.button {
    display: flex;
    flex-flow: column nowrap;
}

.button > p {
    font-size: 16px;
}

.button-menu li:first-child {
    transform: rotate(90deg) translateY(120px);
}

.button:focus + ul > li:first-child {
    transform: rotate(190deg) translateY(120px);
}

.button-menu li:first-child a {
    transform: rotate(-190deg);
}

.button-menu li:nth-child(2) {
    transform: rotate(90deg) translateY(120px);
}

.button:focus + ul > li:nth-child(2) {
    transform: rotate(225deg) translateY(120px);
}

.button-menu li:nth-child(2) a {
    transform: rotate(-225deg);
}

.button-menu li:last-child {
    transform: rotate(90deg) translateY(120px);
}

.button:focus + ul > li:last-child {
    transform: rotate(260deg) translateY(120px);
}

.button-menu li:last-child a {
    transform: rotate(-260deg);
}

.panel-3d {
    max-width: 1080px;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
}

.about-panel {
    display: inline-block;
    background-color: #e1e6fa;
    box-shadow: 1px 2px 3px 1px black;
    border-radius: 10px;
    padding: 25px;
    margin: 7px;
}

.avatar img {
    width: 150px;
}

.about-me p {
    width: 550px;
}