* {
    box-sizing: border-box;
}

header {
    max-width: 1000px;
    margin: 0 auto;
    /*background: #fafafa;*/
    height: 85px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav > a {
    color: rgba(102, 206, 102, 0.7);
    float: left;
    font-size: 25px;
    margin: 30px 3px;
    text-decoration: none;
    font-family: 'Share', cursive;
}

header nav > a:hover {
    color: rgba(102, 206, 102, 1);
}

header ul {
    font-size: 20px;
    display: flex;
}

header ul li {
    margin: 30px 15px;
}

header ul li:last-child {
    margin-right: 3px;
}

header ul li a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

header ul li a:hover {
    color: rgba(0, 0, 0, 0.5);
}

header ul li:last-child a {
    color: rgba(102, 206, 102, 0.7);
}

header ul li:last-child a:hover {
    color: rgba(102, 206, 102, 1);
}