* {
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid black;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    /*background: #fafafa;*/
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.container > a {
    color: rgba(102, 206, 102, 0.7);
    float: left;
    font-size: 25px;
    margin-left: 3px;
    text-decoration: none;
    font-family: 'Share', cursive;
}

.container > a:hover {
    color: rgba(102, 206, 102, 1);
}

nav {
    height: 100%;
}

nav ul {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 100%;
}

nav ul li:last-child a {
    color: rgba(102, 206, 102, 1);
}

nav ul li a:hover {
    background-color: rgba(102, 206, 102, 1);
    color: white;
}

@media (max-width: 768px) {
    * {
        box-sizing: content-box;
    }

    .container {
        flex-direction: column;
        max-width: none;
        margin: 0;
        height: auto;
    }

    .container > a {
        padding: 25px 0;
    }

    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        border-top: 1px solid black;
        height: auto;
        width: 100%;
    }

    nav ul li a {
        padding: 30px 0;
        width: 100%;
    }
}