<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload</title>
</head>
<body>
  {{if .}}
  <p>File Uploaded</p>
  {{end}}
  <a href="/">Main Page</a>
  <a href="/logout">Logout</a>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required>
    <input type="submit" value="Upload">
  </form>
</body>
</html>
