<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload</title>
</head>
<body>
  {{if .}}
  <p>File Uploaded</p>
  {{end}}
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="image" required>
    <input type="submit">
  </form>
</body>
</html>
