<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photo Blog</title>
  <style>
    img {
      width: 100px;
      height: 100px;
    }
  </style>
</head>
<body>
  {{range .}}
  <img src="{{.}}">
  {{end}}
</body>
</html>
