* {
  padding: 0;
  margin: 0;
}

html {
  background: url('') no-repeat center center fixed;
  background-size: cover;
  transition: background-image 1s;
}

ul {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100px;
}